<h1 class="text-center" style="margin-bottom: 2rem;">
  <%= page_title %>
</h1>
<div class="container">
  <div class="row row-cols-3">
    <%= render partial: "movie", collection: @movies %>
  </div>
</div>
