<div class="col">
  <div class="card">
    <img class="card-img-top" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="no-image">
    <div class="card-body">
      <a href="#" class="btn btn-dark" style="width: 100%;">読破済みにする</a>
      <p class="card-title">
        <%= text.title %>
      </p>
      <p class="card-text">
        <%= text.genre %>
      </p>
    </div>
  </div>
</div>
